apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.name }}
  description: ${{ values.description }}
  annotations:
    github.com/project-slug: ${{ values.owner }}/${{ values.name }}
    backstage.io/kubernetes-id: ${{ values.name }}
    backstage.io/techdocs-ref: url:https://github.com/${{ values.owner }}/${{ values.name }}
  links:
    - url: https://${{ values.name }}.staging.oshers.com
      title: Live Site
      icon: web
    - url: https://github.com/${{ values.owner }}/${{ values.name }}/actions
      title: CI/CD Pipelines
      icon: github
    - url: https://hub.docker.com/r/${{ values.dockerhub_org }}/${{ values.name }}
      title: Docker Hub
      icon: docker
    - url: https://vscode.dev/redirect?url=vscode://ms-vscode-remote.remote-containers/cloneInVolume?url=https://github.com/${{ values.owner }}/${{ values.name }}
      title: Open in Dev Container
      icon: code
spec:
  type: service
  lifecycle: experimental
  owner: user:default/${{ values.backstageUser }}
{% if values.backend !== "none" %}  providesApis:
    - ${{ values.name }}-api
{% endif %}{% if values.backend !== "none" %}

---
apiVersion: backstage.io/v1alpha1
kind: API
metadata:
  name: ${{ values.name }}-api
  description: ${{ values.description }} API
spec:
  type: openapi
  lifecycle: experimental
  owner: user:default/${{ values.backstageUser }}
{% if values.backend === "gofiber" %}
  definition:
    $text: https://${{ values.name }}.staging.oshers.com/swagger/doc.json
{% elif values.backend === "fastapi" %}
  definition:
    $text: https://${{ values.name }}.staging.oshers.com/openapi.json
{% endif %}
{% endif %}