version: "2"

formatters:
  enable:
    - goimports
  settings:
    goimports:
      local-prefixes:
        - github.com/${{ values.owner }}/${{ values.name }}

linters:
  enable:
    - govet
    - errcheck
    - staticcheck
    - ineffassign
    - unused

run:
  timeout: 5m
